#container {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 2rem;
}

section {
  margin-bottom: 5rem;
}

#primitive_pokemon {
  position: relative;
}

button {
  border: solid 1px #77e44c;
  width: 5rem;
  height: 2rem;
  background: #1c1d26;
  color: #77e44c;
  font-size: 1rem;
  border-radius: 2px;
  margin-right: 0.5rem
}

#Clear {
  border: solid 1px rgba(255, 255, 255, 0.50);
  color: rgba(255, 255, 255, 0.50);;
}

#box {
  display: inline;
  margin-right: 2rem;
}

/* #radarform {
  display: flex;
  align-items: flex-end;
} */