h1 {
  font-size: 4em;
  font-weight: bold;
  display: inline
  /* background: linear-gradient(#e44c65, #8d2e2e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
}

#pokeball {
  width: 3rem;
  height: 3rem;
}

#title {
  margin-bottom: 2rem;
  /* text-shadow: 1rem 1rem rgba(0, 0, 0 0.8); */
  text-shadow: 0.5rem 0.5rem rgba(89, 30, 40, 1)
}

.inline {
  font-size: 2em;
  font-weight: 100;
  display: inline;
}

.h2-bold {
  font-size: 2em;
  font-weight: 600;
  display: inline;
}

.section-header {
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 1px #e44c65;
  width: fit-content;
}